@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Inter", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.004);
  -moz-osx-font-smoothing: grayscale;
}
